/*  your css code here. If applicable */

#yellow{
	background:yellow;
	border:solid;
	border-color:green;
	border-width:1px;
}

#red{
	background:red;
	border:solid;
	border-color:black;
	border-width:1px;
}

#green{
	background:green;
	border:solid;
	border-color:yellow;
	border-width:1px;
}